@import url('./blocks/header.css');
@import url('./blocks/footer.css');
@import url('./blocks/cards.css');
@import url('./blocks/popup.css');
@import url('./blocks/popupCreate.css');
@import url('./blocks/popupImage.css');
@import url('./blocks/profile.css');
@import url('./blocks/page.css');
@import url('./blocks/PopupWithConfirmation.css');