@import "../vendor/fonts.css";
@import "../blocks/page.css";
@import "../blocks/popup.css";
@import "../blocks/popupCreate.css";
@import "../blocks/popupImage.css";
@import "../blocks/header.css";
@import "../blocks/profile.css";
@import "../blocks/cards.css";
@import "../blocks/footer.css";
@import "../blocks/PopupWithConfirmation.css";
